body {
      font-family: "Raleway", Arial, sans-serif;
      padding: 30px;
    }
    .w3-row img {
      margin: -8px
    }
    /* Para el menú de opciones */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        color: lime;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #0d6efd;
      }
    /* Fin estilo menú de opciones */  
    td{      
        padding: 5px;
    }